.App {
  text-align: center;
  padding: 1em;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

.card {
  height: 30rem;
  width: 18rem;
  margin: 1em;
}

.card-body {
  overflow-y: auto;
}
